@import forms.blog.BlogForm
@(user: models.User, blogForm: Form[BlogForm.Data], posts: Option[Seq[Blog]])(implicit request: RequestHeader, messages: Messages, webJarAssets: WebJarAssets)

@import b3.inline.fieldConstructor

@main(Messages("blog.title"), Some(user)) {
  <fieldset class="col-md-4">
    <legend>@Messages("blog.post")</legend>
    @helper.form(action = controllers.blog.routes.BlogController.submit()) {
    @helper.CSRF.formField
    @b3.text(blogForm("title"), '_hiddenLabel -> Messages("blog.title"), 'placeholder -> Messages("blog.title"), 'class -> "form-control input-lg")
    @b3.text(blogForm("content"), '_hiddenLabel -> Messages("blog.content"), 'placeholder -> Messages("blog.content"), 'class ->"form-control input-lg")
    <div class="form-group">
        <div>
            <button id="submit" type="submit" value="submit" class="btn btn-lg btn-primary btn-block">@Messages("blog.post")</button>
        </div>
    </div>
    }
  </fieldset>
  <fieldset class="col-md-8">
    <legend>@Messages("blog.feed")</legend>
    @posts.map { postSeq =>
                  @for(post <- postSeq) {
                  <div> @post.title </div>
                  <div> @post.content </div>
                  <div> @post.createdAt </div>
                  }
                }
  </fieldset>
  }
